<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/inicio.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="shortcut icon" href="/imagenes/icono-removebg-preview.png" type="image/x-icon">
    
    <title>My Saafe Guide</title>
</head>
<body>
      <header> 
            <nav id="menu">   
                        
             <a href="">contactanos</a>
             <a href="">quienes somos</a>
             <a href="">preguntas frecuentes</a>
             <button class="btn-iniciar">crear cuenta</button>
             <button class="btn-iniciar">inicia sesion</button>
            </nav>
      </header>
      <main class="contenedor_inf">
            <!-- aqui va las parte de la informacion -->
            <div class="publicidad">
                      
            </div>
            <div class="imagen">
                  <!-- aqui estara la imagen de los lugares turisticos -->
            </div>
            
            <h3>Explora, Descubre, Vive: Tu Aventura Comienza Aquí. Bienvenido a Nuestra Comunidad Turística, Donde las Experiencias Inolvidables se Convierten en Recuerdos para Siempre. </h3>     
            <div class="informacion">
                  <h2>¿como funciona?</h2>
                  <p>Para ingresar a lapagina primero tienes que estar tienes que estar registrado
                    y tienes que escojer el rol con el que desees ingresar
                  </p>
                  <p>la parte de contactanos es por si existe algun fallo con la pagina y asiestar al tanto dedichis errores</p>
                  <div class="prueva">
                        
                  </div>
                  <p>si escogiste ingresar como guia debes primero llenar un formulario para asi tener lainformacion relevante de  ti</p>

                  <p>si escogiste ingresar como turista debes de llenar un formulario</p>

                  <p>despues de esto estaras en la pagina principal, tienes diferentes lugares</p>
           
                  <p>esta el chat, elcualsirve para quue se comuniquen entre usuarios si es necesario</p>

                  <p>el apartado del guia, que mostrara a todos los guias</p>
            
                  <p>el apartado delos turistas, mostrara a todos los turistas </p>
            
                  <p>el apartado delos proveedores, dodemostrara a todos estos y lo que ofrecen.
                        los proveedores sirven para que los guias reserven lugares privados para los turistas
                  </p>
            
                  <p> los guias como los turistas y proveedores tendran un boton para reportar, pusimos para cuando los usuarios son estafados</p>
            
                  <p>los guias pasaran por unaevaluacion de sus credenciales </p>

            </div>

            <!-- <div class="imagenes_1">
                  <img src="imagenes/contacto.PNG" alt="">
                  <img src="imagenes/" alt="">
            </div> -->
      </main>

      <footer></footer>
      <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
      <script src="js/inicio.js" ></script>
</body>
</html>