<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/itinerario.css">
    <title>itinerario</title>
</head>
<body>
    <div class="imagen"></div>
    <main>
        <label for="">lugarde encuentro</label>
        <input type="text">
        <label for="">paradas</label>
        <input type="text">
        <label for="">descuesnto</label>
        <input type="text">
        <label for="">ofertas</label>
        <input type="text">
        <label for="">horario</label>
        <input type="text">
        <label for="">transporte</label>
        <input type="text">
        <label for="">precio</label>
        <input type="text">
    </main>
</body>
</html>