<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/pagina_principal.css">
    <title>pagina_principal</title>
</head>
<body>
    <!-- <h4>welcome to MY GUIE SAFE</h4> -->
    <header>
        
        <nav>
            <!-- <img src="imagenes/icono-removebg-preview.png" alt=""> -->
            <a href="">guia</a>
            <a href="">turista</a>
            <a href="">proveedor</a>
            <a href=""> <img src="../iconos/search.svg" alt=""></a>
            <a href=""><img src="../iconos/person.svg" alt=""></a>
            <a href=""><img src="../iconos/chat (1).svg" alt=""></a>
            <a href=""><img src="../iconos/cart.svg" alt=""></a>
            <a href=""><img src="../iconos/receipt-long.svg" alt=""></a> 
            
        </nav>
    </header>
    <main>
        <!-- Aqui estaran los guias y los turistas "las tarjetas pasandose de a una" -->
    </main>
    <footer>

    </footer>
</body>
</html>