<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Guia</title>
    <link rel="stylesheet" href="../css/PerfilGuia.css">
</head>

<body>
    <header class="HeaderIcons">
        <div class="ContainerLg">
            <img src="../imagenes/IconLogo.png" alt="" class="lg">
        </div>
        <nav class="navBar">
            <ul>
                <li class="items1"><a href="#">Home</a></li>
                <li class="items2"><a href="#">Turistas</a></li>
                <li class="items3"><a href="#">Chat</a></li>
                <li class="items4"><a href="#">Perfil</a></li>
            </ul>
        </nav>
    </header>

    <main class="bodyCode">
        <div class="content">
            <div class="packageOne">
                <p>Caja 1</p>
            </div>
            <div class="packageSecond">
                <p>Caja 2</p>
            </div>
        </div>
        <div class="mainContent">
            <div class="packageMain">
                <p class="ContainerText">Caja 1</p>
            </div>
        </div>
        <div class="thirdContent">
            <div class="packageThird">
                <p>Caja 1</p>
            </div>
            <div class="packageThird">
                <p>Caja 2</p>
            </div>
        </div>
    </main>
</body>

</html>