<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/planes.css">
    <title>planes</title>
</head>
<body>
    <div class="imagen">
        
    </div>
    <main>
        <h2>Crea tus palanes turisticos</h2>
        <label for="">nombre</label>
        <input type="text" name="" id="">
        <label for="">precio</label>
        <input type="number">
        <label for="">tipo</label>
        <input type="text">
        <label for="">promocion</label>
        <input type="text" name="" id="">
        <a href="">itinerario</a>
    </main>
</body>
</html>