<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/proveedor.css">
    <title>proveedor</title>
</head>
<body>
    <div class="imagen">
        
    </div>
    <main>
        <label for="">nombre</label>
        <input type="text">
        <label for="">nombre del lugar</label>
        <input type="text">
        <label for="">precio</label>
        <input type="nombre" name="" id="">
        <label for="">foto de la persona</label>
        <input type="image">
        <label for="">foto del lugar</label>
        <input type="image">
        <label for="">descripcion del lugar</label>
        <input type="text">
    </main>
</body>
</html>