<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro_guia</title>
    <link rel="stylesheet" href="../css/registro_guia.css">
    <link rel="shortcut icon" href="../imagenes/IconLogo.png" type="image/x-icon">
</head>

<body>
    <main class="contenedor">
        <h1>Registrate como un guia</h1>
        <div class="imagen">
            <!-- esta es la imagen del guia--> 
        </div>
        <form>
            <div class="formulario">
                <h3>informacion sobre ti</h3> 
              <label for="">nombre completo</label><input type="text">
                <label for="">apellido</label>
                <input type="text">
                <label for="">fecha de nacimiento</label>
                <input type="date">
                <label for="">nivel de idioma</label>
                <input type="text">
                <label for="">nivel de idioma</label>
                <input type="text">
                <label for="">idioma</label>
                <input type="text">
                 <label for="">foto</label>
                <input type="file">
                <label for="">comprovante de guia</label>
                <input type="file" value="">
             
                <BUtton>Siguiente</BUtton>
               
            </div>
        </form>
    </main>
</body>

</html>