<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="shortcut icon" href="../imagenes/icono-removebg-preview.png" type="image/x-icon">
        <link rel="stylesheet" href="../css/registrar.css">
</head>
<body>
    
        <h1>inicia la experiencia!!!</h1>
    
    <div class="contenedor">
        <div class="text_registro">
           <h2>registro de usuario</h2> 
        </div>
        <div class="formulario">
            <h3>usuario</h3><input class="usuario" type="text">
            <h3>contraseña</h3><input class= "contraseña" type="password">
            <input type="checkbox">turista
            <input type="checkbox">guia
            <input type="checkbox">prooverdor
            <button>aceptar</button>
        </div>
    </div>
</body>
</html>