<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/registro_turista.css">
</head>

<body>

    <main class="contenedor">
        <div class="imagen"></div>
        <h1>Reguistrate como turista</h1>
        <form class="formulario">
            <h3>informacion sobre ti</h3>
                    <label>nombre completo</label>
                    <input type="text" placeholder="">
                    <label>edad</label>
                    <input type="number" placeholder="">
                    <label>nacionalidad</label>
                    <input type="text" placeholder="">
                    <label>numero de identificacion</label>
                    <input type="number" placeholder="">
                    <label>telefono</label>
                    <input type="number" placeholder="" >
                    <label>correo</label>
                    <input type="text" placeholder="">
                    <label>idiomas</label>
                    <input type="text" placeholder="">
                    <label>metodo de pago</label>
                    <select>
                        <option disabled selected="">meto del pago</option>
                        <option>tarjeta </option>
                        <option>efectivo</option>

                    </select>
                    <button>Ingresar</button>
        </form>
    </main>

</body>

</html>