*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 18px
}
body{
    background-color:rgb(210, 226, 249);
}


.form{
    position: absolute;
    height: 519px;
    left: 550px;
    background-color: whitesmoke;
    width: 90%;
    max-width: 600px;
    margin: 1.8rem auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    padding: 0.8rem;
   
}

.form > *{
    display: block;
    width: 70%;
}

.input, .textarea{
    margin-bottom: 0.5rem;
    border: 1px solid;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

input:focus, .textarea:focus{
    outline: none;
}


.button{
    padding: 0.6rem;
    background-color: #5f9ea0;
    color: #fff;
    width: 45%;
    border: none;
}




.imagen{
 position: absolute;
 width: 500px;
 height: 519px;
 background-color: black;
 background-size: cover;
 top: 54px;
 left: 50px; 
 
}
.contenedor{
    position: relative;
    left: 70px;
    top: 20px;
}