*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 18px
}
body{
 background-color:rgb(210, 226, 249);
}

nav{
    background-color: whitesmoke;
    display: flex;
    justify-content:space-evenly;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: 200;
    
}
