body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(210, 226, 249);
}
.imagen{
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: url("/view/imagenes/guia.jpg");
    background-size: cover;
    top: 90px;
    left: 40px;
}
.formulario{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: ghostwhite;
    top: 90px;
    left: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;

}
.formulario > *{
   display: block;
    width: 60%;
}
.input, .textarea{
    margin-bottom: 0.5rem;
    border: 1px solid;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

input:focus, .textarea:focus{
    outline: none;
}
.textarea{
    resize: none;
}

.contenedor{
    position: absolute;
    left: 150px;
    top: 20px;
}
h1{
    position: relative;
    left: 350px;
}
h3{
    text-align: center;
}
button{
    background-color: #ADD8E6; 
    border-color: ghostwhite;
    height: 36px;
    margin: 10px;
}
