@tailwind base;
@tailwind components;
@tailwind utilities; 
* {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
.Form{
  max-height: 30rem;
}
.Tourist{
  position: absolute;
  margin-top: 25rem;
  right: 14.9rem;
  width: 40%;
}
.Main{
  position: relative;
  width:22rem;
  border:1px solid #000;
  display: flex;
}
.Logo{
  width: 40%;
  
}