@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Publica-Sans-Round";
  src: url("../assets/fonts/PublicaSansRound-UlLt.otf");
}

* {
  font-family: "Publica-Sans-Round";
}
.Form {
  max-height: 40rem;
  scrollbar-width: thin;
  scrollbar-color: #9ed4c6 #f5f5f5;
}
.Tourist {
  position: absolute;
  margin-top: 34.3rem;
  right: 14.9rem;
  width: 40%;
}
.Guide {
  position: absolute;
  margin-top: 37.5rem;
  left: 13.5rem;
}

.Logo {
  width: 40%;
}
.modal {
  visibility: hidden;
  opacity: 0;
}
@media screen and (min-width: 1280px) {
  .Form {
    height: 40rem;
    scrollbar-width: thin;
    scrollbar-color: #9ed4c6 #f5f5f5;
  }
}
.header {
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}
.txt {
  font-size: 1.8em;
}
.text {
  font-size: 25px;
}

.Itinerary {
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
}

.ContainerHome {
  background-color: #f8f8f8;
}
.Home {
  width: 85%;
  box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 500px) {
  .Home {
    width: 90%;
    height: 80%;
  }
}
.Button {
  background: linear-gradient(45deg, #cae5de, #9ed4c6, #33c29c);
}

.email {
  top: 3.2rem;
  right: 3.2rem;
}
.passw {
  right: 5.8rem;
  top: 2.4rem;
}
.EmailText {
  top: 0.7rem;
}
.PasswText {
  margin-top: 10rem;
}
.CuentaText {
  top: 0.6rem;
}
.Filter {
  top: 3rem;
  right: 6.3rem;
}
@media screen and (min-width: 1280px) {
  .email {
    right: 3.2rem;
  }
  .TouristPlan {
    box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.3);
  }
}
.SubMenu {
  animation: largee 0.3s ease forwards;
}
.navBar {
  height: 34rem;
  box-shadow: 2px 2px 20px 1px rgba(49, 176, 167, 0.3);
}
.Chat {
  box-shadow: 2px 10px 40px 1px rgba(0, 0, 0, 0.3);
}
.Header {
  box-shadow: 2px 2px 10px 1px rgba(49, 176, 167, 0.3);
}
.PackageView {
  box-shadow: 2px 2px 15px 1px rgba(25, 152, 144, 0.3);
}
.SubMain {
  height: 30rem;
}

.navBar::-webkit-scrollbar {
  display: none;
}
@keyframes largee {
  from {
    height: 0rem;
  }
  to {
    height: 5rem;
  }
}

.welcome {
  left: 22%;
  top: 25%;
  color: #ef9a61;
}
.mobilHome {
  height: 36.5rem;
}
.Content {
  background-image: url("../assets/Image/Fondo.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.newClass {
  animation: large 0.3s ease forwards;
}

@keyframes large {
  from {
    width: 0rem;
  }
  to {
    width: 16rem;
  }
}
.TouristIMG {
  width: 80%;
}
.ContentMessage {
  padding: 0.1rem;
}
.textArea {
  field-sizing: content;
  box-shadow: 1px 1px 10px 1px rgba(163, 163, 163, 0.3);
}
.Message::-webkit-scrollbar {
  display: none;
}
.SecondMessage {
  margin-left: 40%;
}
.PackageContainer {
  width: 30%;
}

.Mover{
  margin-left: 1.4rem;
}
.MoverP{
  margin-left: 0.5rem; 
}