@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Publica-Sans-Round";
  src: url("../assets/fonts/PublicaSansRound-UlLt.otf");
}

* {
  font-family: "Publica-Sans-Round";
}
.Form {
  max-height: 40rem;
  scrollbar-width: thin;
  scrollbar-color: #9ed4c6 #f5f5f5;
}
.Tourist {
  position: absolute;
  margin-top: 34.3rem;
  right: 14.9rem;
  width: 40%;
}
.Guide {
  position: absolute;
  margin-top: 37.5rem;
  left: 13.5rem;
}

.Logo {
  width: 40%;
}
.modal {
  visibility: hidden;
  opacity: 0;
}
@media screen and (min-width: 1280px) {
  .Form {
    height: 40rem;
    scrollbar-width: thin;
    scrollbar-color: #9ed4c6 #f5f5f5;
  }
}
.header {
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}
.txt {
  font-size: 1.8em;
}
.text {
  font-size: 25px;
}
.TouristPlan {
  box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.3);
}
.ContainerHome {
  background-color: #f8f8f8;
}
.Home {
  width: 85%;
  box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 500px) {
  .Home {
    width: 90%;
    height: 80%;
  }
}
.Button {
  background: linear-gradient(45deg, #cae5de, #9ed4c6, #33c29c);
}
.email {
  top: 3.2rem;
  right: 3.2rem;
}
.passw {
 right: 5.8rem;
 top: 2.4rem;
}
.EmailText {
  top:0.7rem
}
.PasswText {
  margin-top: 10rem;
}
.CuentaText{
  top:0.6rem
}
.Filter{
  top:3rem;
  right: 6.3rem;
}
@media screen and (min-width: 1280px) {
  .email {
    right: 3.2rem;
  }
}
